{% extends 'base.html.twig' %}

{% block singup %}
    <a href="{{ path('app_login') }}">
        <button class="btn btn-dark">Sing in</button>
    </a>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row m-3">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Wrong credentials!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
